<div class="@NavMenuCssClass" onclick="collapseNavMenu" >
    <nav class="flex-column">
        <span class="navbar-brand" title="jasonisdunn.tech">jasonisdunn.tech</span>
        <div class="nav-item" >
            <NavLink class="nav-link" style="background-color: rgba(255,255,255,0); color: #FFFFFF">
            </NavLink>
        </div>
        <div class="nav-item">
           <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
               <span><i class="fas fa-home" aria-hidden="true"></i>Home</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="fetchdata">
               <span><i class="fas fa-cloud-download-alt" aria-hidden="true"></i>FetchData</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
               <span><i class="fas fa-plus" aria-hidden="true"></i>Counter</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    public bool collapseNavMenu { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
}
