<div class="@NavMenuCssClass" onclick="collapseNavMenu" >
    <nav class="flex-column">
        <span class="navbar-brand mb-0 h1"> jasonisdunn.tech</span>
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span><i  aria-hidden="true">Home </i></span>
            </NavLink>
        </div>
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="fetchdata">
               <span><i  aria-hidden="true">FetchData</i></span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    public bool collapseNavMenu { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
}
