@inherits LayoutComponentBase

<div class="page">
    <main>
        <MudAppBar Fixed="true" Bottom="true" Elevation="0" Style="@($"color:{Colors.Blue.Accent2}; background:{Colors.Blue.Accent2};")"></MudAppBar> 
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>