h2 {
    color: #448AFF; 
}

h5 {
    color: #448AFF;
    font-size: 12pt;
    margin-right: 8px;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #448AFF;
    border-color: #448AFF;
}

.btn-primary:not(:disabled):not(.disabled) {
    background: #448AFF;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #1861ac;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 108px;
    border: 1px solid black;
    border-radius: 14px;
    font-size: .8rem;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: wavy;
    color: #ffffff;
    background-color: #1861ac;
    border: 1px solid #d7d7d7;
    border-radius: .3rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    width: 200px;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

button:focus {
    box-shadow: 0 0 0 .1rem rgba(38,143,255,.5);
    outline: 1px solid #fff;
}

button:active {
    transform: scale(0.99);
}
