h1 {
    color: #448AFF;
   text-align: left;
}

h2 {
    color: #448AFF;
   text-align: left;
}

h3 {
    color: #448AFF;
   text-align: left;
}

h4 {
    color: #448AFF;
   text-align: left;
}

h5 {
    color: #448AFF;
   text-align: left;
}
